*{
  font-family: "Rubik", sans-serif;
}
.login{
    display: flex;
    background-color: #273238;
}

.login .img img{
    height: 464px;
    margin-top: 83px;
    width: 450px;
    margin-left: 80px;
}
  .login .form{
    border-radius: 28px;
    padding-top: 109px;
    width: 327px;
    margin-left: 400px;
    height: 498px;
    /* align-content: center; */
    border: 1px solid transparent;
    background-color: #385a64;
}

  .login .form .back{
    text-align: center;
  margin-right: -12px;
  margin-top: 458px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  margin-left: -52px;
  border: 1px solid transparent;
  background-color: #273238;
  border-radius: 5px;
  color: white;
  width: 126px;
  height: 20px;
  }
  .login .form .p1{
    font-size: larger;
        margin-top: 1px;
        text-align: center;
        margin-bottom: 93px;
        color: white;
  }
  .login .form{
  
      text-align: center;
  }
  .login .form form .in1{
    height: 32px;
        text-align: center;
        margin-bottom: 51px;
        border-radius: 37px;
        width: 201px;
        border-color: transparent;
  }
  .login .form form .in2{
    height: 32px;
  text-align: center;
  margin-bottom: 45px;
  width: 201px;
  border-radius: 28px;
  border-color: transparent;
  
  }
  .login .form form .in3{
    width: 84px;
        height: 26px;
        border-color: transparent;
        border-radius: 19px;
  }
  .login .form .p2{
  
    margin-top: 68px;
        text-align: center;
        color: white;
  }
  .login .form .p2 a{
  color: #273238;
  text-decoration: none;
  }
  